@model Planetario.Models.MaterialEducativoModel
@{
    ViewBag.Title = "Subir un material educativo";
    List<SelectListItem> publicos = new List<SelectListItem>() {
        new SelectListItem { Text = "Niños"},
        new SelectListItem { Text = "Adolesentes"},
        new SelectListItem { Text = "Población universitaria"},
        new SelectListItem { Text = "Adultos"}
    };
}

<head>
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
</head>

@if (ViewBag.Mensaje != null)
{
    <h6>@ViewBag.mensaje</h6>
}

<h2>Ofrecer nuevo material educativo</h2>

@using (Html.BeginForm("AlmacenarNuevoMaterialEducativo", "MaterialEducativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="well bs-component">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ingrese los datos y Material educativo</h4>
            <hr />
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CorreoResponsable, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.CorreoResponsable, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CorreoResponsable, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PublicoDirigido, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.PublicoDirigido, publicos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PublicoDirigido, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Archivo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Archivo, new { type = "file", @class = "btn btn alert-info" })
                        @Html.ValidationMessageFor(model => model.Archivo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.ImagenVistaPrevia, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ImagenVistaPrevia, new { type = "file", @class = "btn btn alert-info" })
                        @Html.ValidationMessageFor(model => model.ImagenVistaPrevia, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Crear" />
                    @Html.ActionLink("Volver", "listadoDeMateriales", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Regresar a Inicio", "InformacionBasica", "Home")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
