@model Planetario.Models.MaterialEducativoModel
@{ 
    var listaMateriales = ViewBag.listaMateriales;
    var cantidadDeMateriales = listaMateriales.Count;
    var MensajeCantidadMateriales = "Hay " + cantidadDeMateriales + " ";
    if(cantidadDeMateriales > 1 || cantidadDeMateriales == 0)
    {
        MensajeCantidadMateriales += "materiales disponibles";
    } 
    else
    {
        MensajeCantidadMateriales += "material disponible";
    }
}

<h4>Material educativo Disponible</h4>
<h6>@MensajeCantidadMateriales </h6>
<hr />
<div>
    @for (var index = 0; index < cantidadDeMateriales; ++index)
    {

        var material = listaMateriales[index];

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @material.Titulo
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @material.Fecha
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorreoResponsable)
            </dt>

            <dd>
                @material.CorreoResponsable
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Idioma)
            </dt>

            <dd>
                @material.Idioma
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Autor)
            </dt>

            <dd>
                @material.Autor
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreResponsable)
            </dt>

            <dd>
                @material.NombreResponsable
            </dd>

        </dl>
        <img src=@Url.Action("ObtenerImagenVistaPrevia", "MaterialEducativo", new { id = material.Id }) style="width:150px;height:300px;">
    }
</div>
