@model Planetario.Models.CuestionarioEvaluacionRecibirModel
@{ 
    string nombreCuestionario = ViewBag.Cuestionario.NombreCuestionario;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .form-check-input {
            width: 1.25em;
            height: 1.25em;
        }
        div.row textarea.form-control {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
    </style>
</head>
<body>
    <span class="titulo">
        @nombreCuestionario
    </span>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <p class="alert alert-info"> @ViewBag.Message </p>
        }
        else
        {
            <p class="alert alert-warning"> @ViewBag.Message </p>
        }
    }
    @using (Html.BeginForm("CuestionarioEvaluacion", "Evaluacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        for (var i = 0; i < ViewBag.Cuestionario.Preguntas.Count; i++)
        {
            <div class="row">
                <h4>@ViewBag.Cuestionario.Preguntas[i]</h4>
                <div class="row" style="text-align: center; margin-bottom: 0px;">
                    <div class="col">
                        <strong> Muy en desacuerdo</strong>
                    </div>
                    <div class="col">
                        <strong> En desacuerdo </strong>
                    </div>
                    <div class="col">
                        <strong> Neutro </strong>
                    </div>
                    <div class="col">
                        <strong> De acuerdo </strong>
                    </div>
                    <div class="col">
                        <strong> Muy de acuerdo</strong>
                    </div>
                </div>

                <div class="row" style="text-align: center; margin-top: 0px;">
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "Muy en desacuerdo", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "En desacuerdo", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "Neutro", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "De acuerdo", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "Muy de acuerdo", new { @class = "form-check-input" })
                    </div>
                </div>
            </div>
            <hr /><br />
        }
        <div class="row text-center justify-content-center">
            <p>Opcionalmente, déjenos un comentario adicional</p>
            @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control-lg", @placeholder = "Comentario" })
            @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
        </div>

        <div class="row justify-content-center">
            <input type="submit" class="btn btn-success col-4">
            @Html.Hidden("Categoria", "Categoria")
            @Html.Hidden("NombreCuestionario", nombreCuestionario)
        </div>
    }
</body>
</html>
