﻿@model Planetario.Models.UsuarioModel

@{
    ViewBag.Title = "agregarUsuario";
    List<SelectListItem> roles = new List<SelectListItem>() {
        new SelectListItem { Text = "Colaborador Externo", Value = "0"},
        new SelectListItem { Text = "Colaborador Interno", Value = "1" },
        new SelectListItem { Text = "Coordinador", Value = "2" },
        new SelectListItem { Text = "Educador", Value = "3" },
        new SelectListItem { Text = "Visitante", Value = "4" }
    };
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }

    <h2>Inicio de Sesión</h2>

    @using (Html.BeginForm("agregarUsuario", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="well bs-component">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Ingrese los datos para registrarse</h4>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.apellidoUno, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.apellidoUno, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.apellidoUno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.apellidoDos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.apellidoDos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.apellidoDos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.rolId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.rolId, roles, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.rolId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registrar" class="btn btn-success" />
                    </div>
                </div>
                <br />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar a Inicio", "Index", "Home")
    </div>
</body>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval"))
}

</html>