@model Planetario.Models.NoticiaModel
@{
    ViewBag.Title = "Crear noticia";
}
<html>
<head>
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }

    <h2>Agregar Noticia</h2>

    @using (Html.BeginForm("crearNoticia", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="well bs-component">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" }) 
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.cuerpo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.cuerpo, new { @class = "form-control", @rows = 10, @cols = 80})
                        @Html.ValidationMessageFor(model => model.cuerpo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.correoAutor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.correoAutor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.correoAutor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.imagen, new { type = "file", @class = "btn btn alert-info" })
                        @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.fecha, new { @type = "date", @class = "form-​control datepicker" })
                        @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Crear" />
                        @Html.ActionLink("Volver", "listadoDeNoticias", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Regresar a Inicio", "InformacionBasica", "Home")
    </div>
</body>
@section Scripts { @Scripts.Render("~/bundles/jqueryval") }
</html>
