<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.noticia.titulo</title>
    <meta charset="utf-8" />
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    <h1>@ViewBag.noticia.titulo</h1>
    <div class="well">
        <small>Autor: @ViewBag.noticia.correoAutor<br />
        Id: @ViewBag.noticia.id.ToString()</small>
        <hr />
        <p>@ViewBag.noticia.cuerpo</p>
        <img src=@Url.Action("ObtenerImagen", "Noticias",  new { numNoticia = ViewBag.noticia.id.ToString() }) style="width:200px;height:200px;">
    </div>
</body>
</html>