@model Planetario.Models.CuestionarioModel
@{
    ViewBag.Title = "Agregar Cuestionario";
    List<SelectListItem> dificultades = new List<SelectListItem>() {
            new SelectListItem { Text = "Simple" },
            new SelectListItem { Text = "Intermedio" },
            new SelectListItem { Text = "Avanzado" },
     };
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }

    <span class="titulo">
        Agregar Cuestionario
    </span>

    @using (Html.BeginForm("agregarCuestionario", "Cuestionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="well bs-component">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Formulario de agregar cuestionario</h4>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreCuestionario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NombreCuestionario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NombreCuestionario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Dificultad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Dificultad, dificultades, "--Dificultad--", new { @id = "dificultad", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dificultad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmbedHTML, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.EmbedHTML, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmbedHTML, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CorreoResponsable, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.CorreoResponsable, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CorreoResponsable, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-1 col-md-1 col-sm-2">
                <input type="submit" class="btn btn-success" value="Crear" />
            </div>
            <div class="col-1 col-md-1 col-sm-2">
                @Html.ActionLink("Volver", "ListaCuestionarios", null, new { @class = "btn btn-danger" })
            </div>
        </div>

        <div style="margin-top:100px"></div>

        <div>
            @Html.ActionLink("Regresar a Inicio", "InformacionBasica", "Home")
        </div>
    }
</body>
</html>
