@model Planetario.Models.ParticipanteModel
@{
    ViewBag.Title = "Proceso de inscripción";
    List<SelectListItem> Generos = new List<SelectListItem>() {
        new SelectListItem { Text = "Hombre", Value = "Hombre" },
        new SelectListItem { Text = "Mujer", Value = "Mujer"  },
        new SelectListItem { Text = "N/A", Value = "N/A" },
    };
    List<SelectListItem> NivelesEducativos = new List<SelectListItem>() {
        new SelectListItem { Text = "Primaria", Value = "Primaria" },
        new SelectListItem { Text = "Secundaria", Value = "Secundaria"  },
        new SelectListItem { Text = "Universitaria (Bachillerato)", Value = "Universitaria (Bachillerato)" },
        new SelectListItem { Text = "Posgrado", Value = "Posgrado" },
    };
    List<String> Lista_Paises = new List<String>(){"Afghanistan", "Åland Islands", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, The Democratic Republic of the", "Cook Islands", "Costa Rica", "Cote D'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and Mcdonald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran, Islamic Republic Of", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People'S Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao People'S Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macao", "Macedonia, The Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Palestinian Territory, Occupied", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "RWANDA", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "Spain", "Sri Lanka", "Sudan", "Suriname", "Svalbard and Jan Mayen", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Timor-Leste", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Viet Nam", "Virgin Islands, British", "Virgin Islands, U.S.", "Wallis and Futuna", "Western Sahara", "Yemen", "Zambia", "Zimbabwe" };

    List<SelectListItem> Paises = new List<SelectListItem>();
    foreach(string pais in Lista_Paises) {
        Paises.Add(new SelectListItem{Text = pais, Value = pais});
    }

    string linkValidarCorreo = Url.Content("~/Actividades/ValidarCorreo");
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/vistaPagos.css">
</head>
<body>
    <span class="titulo">
        Inscribirme a @ViewBag.titulo
    </span>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlInscribir)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("Inscribirme", "Actividades", FormMethod.Post, new { id = "formularioGeneral", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container mt-5 px-5">

                <section id="formularioCorreo" class="card">
                    <div class="container row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-floating">
                                @Html.TextBoxFor(model => model.Correo, new { @id= "entradaCorreo", @class = "form-control input-lg", @placeholder = "correo" })
                                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <input type="button" class="btn btn-success btn-lg" value="Validar" id="botonValidar" onclick="validarCorreo()" />
                        </div>
                    </div>
                </section>


                <section id="formularioDatosPersonales">
                    <h4>Formulario inscripción</h4>
                    <hr />
                    <div class="card">
                        <div class="row">
                            <div class="col-4 col-md-4 col-sm-12">
                                <div class="form-floating">
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating">
                                    @Html.TextBoxFor(model => model.Apellido1, new { @class = "form-control", @placeholder = "Apellido1" })
                                    @Html.LabelFor(model => model.Apellido1, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.Apellido1, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating">
                                    @Html.TextBoxFor(model => model.Apellido2, new { @class = "form-control", @placeholder = "Apellido2" })
                                    @Html.LabelFor(model => model.Apellido2, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.Apellido2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-4 col-md-4 col-sm-12">
                                <div class="form-floating">
                                    @Html.DropDownListFor(model => model.Genero, Generos, "", new { @class = "form-control", @placeholder = "Genero" })
                                    @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating">
                                    @Html.DropDownListFor(model => model.Pais, Paises, "", new { @class = "form-control", @placeholder = "Pais" })
                                    @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-floating">
                                    @Html.DropDownListFor(model => model.NivelEducativo, NivelesEducativos, "", new { @class = "form-control dropdown-toggle", @placeholder = "NivelEducativo" })
                                    @Html.LabelFor(model => model.NivelEducativo, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.NivelEducativo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-4 col-md-4 col-sm-12 text-center" >
                                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @type = "date", @class = "form-​control datepicker", @placeholder = "Fecha" })
                                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <input class="form-control" id="NombreActividad" name="NombreActividad" type="hidden" value="@ViewBag.titulo" />

                            <div class="row">
                                <div class="col-6 col-md-6 col-sm-12">
                                    <input class="btn btn-success" value="Agregar" onclick="validarInfoPersonal()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="formularioDatosPago">
                    <div class="mb-4">
                        <h2>Confirmar el pago</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card p-3">
                                <h6 class="text-uppercase">Detalles de pago</h6>
                                <div class="form-floating"> 
                                    <input id="nombreTarjeta" type="text" name="name" class="form-control" required="required" placeholder="">
                                <label for="nombreTarjeta">Nombre tarjeta</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" name="name" class="form-control" required="required" placeholder=""> 
                                            <label># Tarjeta</label> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex flex-row">
                                            <div class="form-floating"> <input type="text" name="name" class="form-control" required="required" placeholder=""> <label>Expiración</label> </div>
                                            <div class="form-floating"> <input type="text" name="name" class="form-control" required="required" placeholder=""> <label>CVV</label> <i class="fa fa-credit-card"></i> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6 class="text-uppercase">Dirección de cobro</h6>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="form-floating"> <input type="text" name="name" class="form-control" required="required" placeholder=""> <label>Provincia</label> </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating"> <input type="text" name="name" class="form-control" required="required" placeholder=""> <label>Cantón</label> </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="form-floating"> <input type="text" name="name" class="form-control" required="required" placeholder=""> <label>Detalles</label> </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating"> <input type="text" name="name" class="form-control" required="required" placeholder=""> <label>Codigó postal</label> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-4 d-flex justify-content-between">
                                <label class="text-danger">Cancelar pago</label>
                                <input type="submit" class="btn btn-success btn-lg btn-lg" value="Pagar" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue p-3 text-white mb-3">
                                <span>Usted debe pagar</span>
                                <div class="d-flex flex-row align-items-end mb-3">
                                    <h1 class="mb-0 yellow">₡ @ViewBag.precio</h1>
                                </div> 
                                <span>por su entrada a la actividad </span> 
                                <h3 class="yellow">@ViewBag.Titulo</h3>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    }
    <script src="~/Utils/js/formularioInscripcion.js"></script>
    <script>
        function validarCorreo() {
            const correo = document.getElementById("entradaCorreo").value;
            fetch("@linkValidarCorreo?correo="+correo)
            .then(respuesta => {
                return respuesta.json();
            })
            .then(data => {
                document.getElementById("formularioCorreo").style.display = "none";
                if(data.estaAlmacenado) {
                    document.getElementById("formularioDatosPago").style.display = "contents";
                    document.getElementById("Nombre").value = data.infoPersonal.Nombre;
                    document.getElementById("Apellido1").value = data.infoPersonal.Apellido1;
                    document.getElementById("Apellido2").value = data.infoPersonal.Apellido2;
                    document.getElementById("Pais").value = data.infoPersonal.Pais;
                    document.getElementById("Genero").value = data.infoPersonal.Genero;
                    document.getElementById("NivelEducativo").value = data.infoPersonal.NivelEducativo;
                    document.getElementById("FechaNacimiento").value = data.infoPersonal.FechaNacimiento;
                    console.log(data.infoPersonal.FechaNacimiento);
                } else {
                    document.getElementById("formularioDatosPersonales").style.display = "contents";
                }
            })
        }

    </script>
</body>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
