
@{
    ViewBag.Title = "Actividades";
}

<!DOCTYPE html>
<html>
<head>
    <title>Actividades</title>
    <meta charset="utf-8" />
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    <span class="titulo">
        Actividades
    </span>

    <form method="post" class="navbar-form navbar-right" action="@Url.Action("buscarActividad", "Actividades")">
        <div class="form-group">
            <input type="text" name="palabra" class="form-control" placeholder="Buscar actividad">
        </div>
        <button type="submit" class="btn btn-secondary"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
    </form>

    <table class="table table-hover well">
        <tr>
            <th>ID</th>
            <th>Actividad</th>
            <th>Tema</th>
            <th>Tipo</th>
            <th>Organizador</th>
        </tr>
        @foreach (Planetario.Models.ActividadModel actividad in ViewBag.actividades)
        {
            <tr>
                <td>@actividad.id  </td>
                <td>@Html.ActionLink(actividad.nombre, "verActividad", "Actividades", new { stringId = actividad.id.ToString() }, null)</td>
                <td>@actividad.tema</td>
                <td>@actividad.tipo</td>
                <td>@actividad.correoFK</td>
            </tr>
        }
    </table>

</body>
</html>