@{
    ViewBag.Title = "Actividades";
}

<!DOCTYPE html>
<html>
<head>
    <title>Actividades</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    <span class="titulo"> Actividades </span>

    <form method="post" class="navbar-form navbar-right" action="@Url.Action("buscarActividad", "Actividades")">
        <div class="form-group">
            <input type="text" name="palabra" class="form-control" placeholder="Buscar actividad">
        </div>
        <button type="submit" class="btn btn-secondary"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
    </form>

    <table class="table table-hover table-responsive">
        <tr>
            <th>Actividad</th>
            <th>Categoria</th>
            <th>Día que se imparte</th>
            <th>Detalles</th>
        </tr>
        @foreach (Planetario.Models.ActividadModel actividad in ViewBag.actividades)
        {
            <tr>
                <td>@actividad.NombreActividad</td>
                <td>@actividad.Categoria</td>
                <td>@actividad.DiaSemana</td>
                <td>@Html.ActionLink("ver más", "verActividad", "Actividades", new { nombre = @actividad.NombreActividad.ToString() }, null)</td>
            </tr>
        }
    </table>

</body>
</html>