@{
    ViewBag.Title = "Actividades";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.actividad.NombreActividad</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
    <style>
        header,
        section,
        aside {
            margin: 0 1.5% 24px 1.5%;
        }

        section {
            float: left;
            width: 63%;
        }

        aside {
            float: right;
            width: 30%;
        }

        row {
            text-align: center;
        }

        .col {
            margin-bottom: 1em;
        }

        .card {
            margin: 1%;
            border-radius: 15%;
            border-color: #133b5c;
            border-width: .15em;
            box-shadow: 3px 7px #133b5c;
        }
    </style>
</head>
<body>
    <section>
        <span class="titulo">@ViewBag.actividad.NombreActividad</span>
        <hr />
        <div class="align-top" , style="text-align:center">
            <p>
                <span>
                    <i class="fa fa-check"></i>
                    <strong>Descripcion</strong>
                </span>
            </p>
            <p>
                @ViewBag.actividad.Descripcion
            </p>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p>
                    <span>
                        <i class="fa fa-check"></i>
                        <strong>Fecha</strong>
                    </span>
                </p>
                <p>
                    @ViewBag.actividad.Categoria
                </p>
            </div>

            <div class="col-md-4 col-sm-12">
                <p>
                    <span>
                        <i class="fa fa-check"></i>
                        <strong>Descripción</strong>
                    </span>
                </p>
                <p>
                    @ViewBag.actividad.Duracion minutos.
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p>
                    <span>
                        <i class="fa fa-check"></i>
                        <strong>Hora</strong>
                    </span>
                </p>
                <p>
                    @ViewBag.actividad.Complejidad
                </p>
            </div>
        </div>

        <div id="twitch-embed"></div>

        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <script type="text/javascript">
        var Link = '@ViewBag.actividad.Link';
        console.log(Link);
        Link = Link.toLowerCase();
        if (Link != null) {
            //Twitch embed.
            new Twitch.Embed("twitch-embed", {
                width: 800,
                height: 700,
                channel: Link,
                theme: 'light'
            });
        };
        </script>

    </section>

    <aside>
        <span class="titulo">Actividades Similares:</span>

        @foreach (Planetario.Models.ActividadModel actividad in ViewBag.actividades)
        {
            if(ViewBag.actividad.NombreActividad != actividad.NombreActividad) { 
            <div class="col">
                <div class="card">
                    <span class="titulo">                       
                        @if (@actividad.Tipo == "Charla")
                        {
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-book" aria-hidden="true"></i>
                        }
                        <br />
                        @Html.ActionLink(@actividad.NombreActividad, "verActividad", "Actividades", new { nombre = @actividad.NombreActividad.ToString() }, new { style = "font-size: 30px" })
                    </span>
                    <div class="detallesActividad" , style="text-align:center">
                        <div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <b>Publico Dirigido: </b>@actividad.PublicoDirigido
                        </div>
                        <div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <b>Categoria: </b>@actividad.Categoria
                        </div>
                        <div>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <b>Complejidad: </b>@actividad.Complejidad
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    </aside>
</body>
</html>