@model Planetario.Models.PreguntasFrecuentesModel 
@{ 
    ViewBag.Title = "Añadir Pregunta";
    List<SelectListItem> categorias = new List<SelectListItem>() {
    new SelectListItem { Text = "Cuerpos del Sistema Solar" },
    new SelectListItem { Text = "Objetos de Cielo Profundo" },
    new SelectListItem { Text = "Astronomia" },    new SelectListItem { Text = "General" }
    };

    List<SelectListItem> topicos = new List<SelectListItem>() {
    new SelectListItem { Text = "Planetas" },
    new SelectListItem { Text = "Satelites" },
    new SelectListItem { Text = "Asteroides" },    new SelectListItem { Text = "Cometas" },
    new SelectListItem { Text = "Galaxias" },
    new SelectListItem { Text = "Estrellas" },
    new SelectListItem { Text = "Nebulosas" },
    new SelectListItem { Text = "Planetarias" },
    new SelectListItem { Text = "Astronomia Observacional" },
    new SelectListItem { Text = "Astronomia Teorica" },
    new SelectListItem { Text = "Mecanica Celeste" },
    new SelectListItem { Text = "Astrofisica" },
    new SelectListItem { Text = "Astroquimica" },
    new SelectListItem { Text = "Astrobiologia" },
    new SelectListItem { Text = "Astrofotografia" },
    new SelectListItem { Text = "Instrumentos" },
    new SelectListItem { Text = "Pregunta Sencilla" },
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <style>
        h1 {
            font-size: 40px;
            font-family: verdana;
        }
    </style>
</head>

<body>

    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message</h3>
            </div>
        }
    }

    @using (Html.BeginForm("AgregarNuevaPregunta", "PreguntasFrecuentes", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()

        <h1> <u> <b>Agregar nueva pregunta:</b> </u> </h1>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.categoriaPregunta)
                @Html.DropDownListFor(model => model.categoriaPregunta, categorias, "-Sin selección - ", new { @class = "form - control" })
                @Html.ValidationMessageFor(model => model.categoriaPregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.topicoPregunta)
                @Html.DropDownListFor(model => model.topicoPregunta, new SelectList(" "), "-Sin selección - ", new { @class = "form - control" })
                @Html.ValidationMessageFor(model => model.topicoPregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.pregunta)
                @Html.TextBoxFor(model => model.pregunta, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.respuesta)
                @Html.TextBoxFor(model => model.respuesta, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.respuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-success" value="Crear" />
            @Html.ActionLink("Volver", "PreguntasFrecuentes", null, new { @class = "btn btn-danger" })
        </div>
    }

</body>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval"))
                }
</html>
