@{ 
    ViewBag.Title = "preguntasFrecuentes";
    ViewBag.Title = "categorias";
    ViewBag.Title = "Crear Planeta";
}
<!DOCTYPE html>
<html>

<head>
    <title>Preguntas Frecuentes</title>
    <meta charset="utf-8" />
</head>

<body>
    <div class="container">
        <h1><b>Preguntas Frecuentes</b></h1>
        <p>
            En este lugar estarán todas las preguntas qué nuestros colaboradores han añadido atraves del tiempo. <br />
            Están dividas por categoria y por tópico.
        </p>
    </div>

    <div class="container">
        <div class="panel-group" id="accordion">
            @for (int numCategoria = 0; numCategoria < ViewBag.categorias.Count; numCategoria++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#title_@numCategoria">@ViewBag.categorias[numCategoria]</a>
                        </h4>
                    </div>
                    <div id="title_@numCategoria" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion_@numCategoria">

                                @foreach (var preguntaFrecuente in ViewBag.preguntasFrecuentes)
                                {
                                    if (preguntaFrecuente.categoriaPregunta == @ViewBag.categorias[numCategoria])
                                    {
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion_@numCategoria" href="#inside_@preguntaFrecuente.idPregunta">@preguntaFrecuente.pregunta</a>
                                                </h4>
                                            </div>
                                            <div id="inside_@preguntaFrecuente.idPregunta" class="panel-collapse collapse">
                                                <div class="panel-body">                                                                                                                                             
                                                    <p><i>Tópico(s): @preguntaFrecuente.topicoPregunta @if (preguntaFrecuente.topicoPregunta2 != "NULL") {@preguntaFrecuente.topicoPregunta2} else {} @if (preguntaFrecuente.topicoPregunta3 != "NULL") {@preguntaFrecuente.topicoPregunta3} else {}</i></p>                                                   
                                                    &nbsp
                                                    <p><b>Respuesta:</b></p>
                                                    <p>@preguntaFrecuente.respuesta</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Agregar Pregunta", "AgregarNuevaPregunta", null, new { @class = "btn btn-success" })
    }
    </body>
</html>
