@model Planetario.Models.FuncionarioModel
@{
    ViewBag.Title = "Agregar Funcionario";
}

<html>
<head>
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }

    <h2>Agregar un Funcionario</h2>

    @using (Html.BeginForm("AgregarFuncionario", "Funcionarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="well bs-component">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Formulario de agregar de funcionario</h4>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.CorreoContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.CorreoContacto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CorreoContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Cedula, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaIncorporacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.FechaIncorporacion, new { @type = "date", @class = "form-​control datepicker" })
                        @Html.ValidationMessageFor(model => model.FechaIncorporacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RolTrabajo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RolTrabajo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RolTrabajo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @rows = 5, @cols = 5 })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Foto, new { type = "file", @class = "btn btn alert-info" })
                        @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Agregar" />
                        @Html.ActionLink("Volver", "ListaFuncionarios", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
                <br />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Regresar a Inicio", "InformacionBasica", "Home")
    </div>
</body>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
