@model Planetario.Models.FuncionarioModel
@{
    ViewBag.Title = "Agregar Producto";
}

<html>
<head>
    
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }

    @using (Html.BeginForm("AgregarFuncionario", "Funcionarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <h1 id="details">Formulario de agregar de funcionario</h1>

        <div class="form-horizontal">
            
            <div class="form-group">
                @Html.LabelFor(model => model.CorreoContacto)
                @Html.TextBoxFor(model => model.CorreoContacto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CorreoContacto, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cedula)
                @Html.TextBoxFor(model => model.Cedula, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaIncorporacion)
                @Html.TextBoxFor(model => model.FechaIncorporacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaIncorporacion, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Titulo)
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RolTrabajo)
                @Html.TextBoxFor(model => model.RolTrabajo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RolTrabajo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Foto)
                @Html.TextBoxFor(model => model.Foto, new { type = "file", @class = "btn btn alert-info" })
                @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
            </div>

            <input type="submit" class="btn btn-success" value="Agregar" />
        </div>
    }
</body>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
