@model Planetario.Models.FuncionarioModel
@{
    var listaFuncionarios = ViewBag.listaFuncionarios;
    var cantidadFuncionarios = ViewBag.listaFuncionarios.Count;
}
<head>
    <link href="~/Styles/ListaFuncionarios.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<span class="titulo">
    Funcionarios
</span>

@foreach (var funcionario in ViewBag.ListaFuncionarios)
{
    <h1>Nombre: @funcionario.Nombre @funcionario.Apellido1 @funcionario.Apellido2</h1>
    <h1>Correo: @funcionario.CorreoContacto</h1>



    @Html.ActionLink("Ver más", "verFuncionario", "Funcionarios", new { correo = @funcionario.CorreoContacto.ToString() }, null)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
